.title{
    font-family: Helvetica;
    font-size: 18px;
    text-align: center;
    padding-left: 25%;
    padding-top: 100px;
    width: 50%;
}

p{
    padding-left: 15%;
    color: black;
    font-size: 16px;
    font-family: 'Monospace';
}

.cardcontent{
    padding-left: 0%;
    padding-right: 0%;
}

.firstline{
    padding-top: 50px;
}

.socialicons{
    float: right;
    padding-top: 10%;
    width: 10%;
}

.aboutcontent{
    float: left;
    width: 80%
}

.icons{
    padding-left: 10%;
}

.procard{
    padding-left: 20%;
    padding-right: 20%;
}

.socialicon{
    padding-bottom: 20px;
}

