.title{
    font-family: Helvetica;
    font-size: 18px;
    text-align: center;
    padding-left: 25%;
    padding-top: 100px;
    padding-bottom: 25px;
    width: 50%;
}

p{
    padding-left: 25%;
    padding-right: 25%;
    color: black;
    font-size: 16px;
    font-family: Helvetica;
}